/**
 * woocommerce.scss
 */
@import "mixins";
@import "variables";
/* ===================================Slides carousel START======================= */
.slider {
  margin-top: 4rem;
  &-item {
    border-radius: 10px;
    background-color: $white;
    height: 459px;
    width: 100%;
    display: inline-block;
  }
}
.slogan-box {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1.5rem;
  font-weight: 300;
  text-align: center;
  min-height: 100%;
  &__title {
    color: $gray;
    font-size: 12px;
    line-height: $lh-20;
  }
  &__manufacturer {
    color: $blue;
    font-size: 12px;
    line-height: $lh-20;
  }
  &__price {
    display: flex;
    justify-content: space-between;
    &_regular {
      max-width: 40%;
      color: $gray;
      font-size: 20px;
      font-weight: bold;
      line-height: 27px;
    }
    &_sale {
      max-width: 30%;
      color: $light-gray;
      font-size: 14px;
      line-height: 19px;
    }
    &_badge {
      height: 20px;
      width: 39px;
      border-radius: 2px;
      background-color: #6983b4;
      color: $white;
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
      text-align: center;
    }
  }
}
.dots-box {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2.2rem;
  padding: 1rem 0;
  & li {
    margin: 0 0.25rem;
    transition: 0.3s ease-in-out;
    &.slick-active button {
      background-color: rgba(0, 0, 0, 0.5);
      outline: none;
    }
  }
  &.button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
  }
}
